<link rel="stylesheet" href="/css/showcategories.css">
<div class="background-body">
    <h3 class="title-muc">Show suppliers</h3>
</div>
<div class="body-ct">
    <div class="contain-ct">
        <table id="example" class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Update</th>
                    <th>Delete</th>
                    <th>Detail</th>
                </tr>
            </thead>
            <tbody>
                {{#if result}}
                {{#each result as |value| }}
                <tr>
                    <td>{{value._id}}</td>
                    <td>
                        <img class="brand" src="{{value.img}}" alt="brand">
                    </td>
                    <td>{{value.name}}</td>
                    <td>{{value.email}}</td>
                    <td class="func-ct">
                        <a href="/managerSuppliers/update/{{value._id}}">
                            <i class="fas fa-pen update-ct"></i>
                        </a>
                    </td>
                    <td class="func-ct">
                        <i data-id="{{value._id}}" data-name="{{value.name}}"
                            class="fas fa-trash-alt delete-ct d-sp"></i>
                    </td>
                    <td class="func-ct">
                        <a href="/managerSuppliers/supplier/{{value._id}}">
                            <i class="fas fa-calendar-week detail-ct"></i>
                        </a>
                    </td>
                    {{/each}}
                    {{/if}}
            </tbody>

        </table>
    </div>
</div>