<link rel="stylesheet" href="/css/addPr.css">
<div class="background-body">
    <h3 class="title-muc">Update staff</h3>
</div>
<div class="main-addPr">
    <div class="f-addPr">
        <div class="intro">
            <div class="intro-m">
                <div class="line"></div>
                <div class="infor-add">1. basic infor</div>
                <div class="infor-add">2. Email & password</div>
                <div class="infor-add">3. Role</div>
            </div>
        </div>
        <form action="/managerAccounts/actUpdate" class="form-add" enctype="multipart/form-data" method="post">
            <p class="main-title">1. basic infor</p>
            {{#if staff}}
            {{#each staff}}
            <div class="input">
                <p class="childen-title">Staff ID</p>
                <input type="text" readonly name="id" value="{{this._id}}" id="">
            </div>
            <div class="input">
                <p class="childen-title">Staff name</p>
                <input type="text" name="name" value="{{this.name}}" id="name">
                <p class="message"></p>
            </div>
            <p class="main-title">2. Email & number</p>
            <div class="price-quantity">
                <div class="input">
                    <p class="childen-title">Email</p>
                    <input type="email" value="{{this.email}}" required name="email" id="email">
                    <p class="message"></p>
                </div>
                <div class="input">
                    <p class="childen-title">Password</p>
                    <input type="tel" value="{{this.password}}" name="password" id="password">
                    <p class="message"></p>
                </div>
            </div>
            <p class="main-title">3. Role</p>
            <div class="role">
                {{{checkRole role 'admin'}}}
                {{{checkRole role 'staff'}}}
            </div>
            <div class="permission">
                <div class="box-checkbox">
                    <div class="checkAll">
                        <input type="checkbox" name="" class="product" id="product1">
                        <label for="product1">product</label>
                    </div>
                    <div class="ct-permission">
                        {{{checkPermission permission 'addProduct' 'product2' 'add new product'}}}
                        {{{checkPermission permission 'updateProduct' 'product2' 'Update product'}}}
                        {{{checkPermission permission 'deleteProduct' 'product2' 'Delete product'}}}
                    </div>
                </div>
                <div class="box-checkbox">
                    <div class="checkAll">
                        <input type="checkbox" name="" class="category" id="category1">
                        <label for="category1">category</label>
                    </div>
                    <div class="ct-permission">
                        {{{checkPermission permission 'addCategory' 'category2' 'add new category'}}}
                        {{{checkPermission permission 'updateCategory' 'category2' 'Update category'}}}
                        {{{checkPermission permission 'deleteCategory' 'category2' 'Delete category'}}}
                        {{{checkPermission permission 'detailCategory' 'category2' 'detail category'}}}
                    </div>
                </div>
                <div class="box-checkbox">
                    <div class="checkAll">
                        <input type="checkbox" name="" class="supplier" id="supplier1">
                        <label for="supplier1">Supplier</label>
                    </div>
                    <div class="ct-permission">
                        {{{checkPermission permission 'addSupplier' 'supplier2' 'Add new supplier'}}}
                        {{{checkPermission permission 'updateSupplier' 'supplier2' 'Update supplier'}}}
                        {{{checkPermission permission 'deleteSupplier' 'supplier2' 'Delete supplier'}}}
                        {{{checkPermission permission 'detailSupplier' 'supplier2' 'detail supplier'}}}
                    </div>
                </div>
                <div class="box-checkbox">
                    <div class="checkAll">
                        <input type="checkbox" name="" class="customer" id="customer1">
                        <label for="customer1">Customer</label>
                    </div>
                    <div class="ct-permission">
                        {{{checkPermission permission 'addCustomer' 'customer2' 'Add new product'}}}
                        {{{checkPermission permission 'updateCustomer' 'customer2' 'Update product'}}}
                        {{{checkPermission permission 'deleteCustomer' 'customer2' 'Delete product'}}}
                    </div>
                </div>
                <div class="box-checkbox">
                    <div class="checkAll">
                        <input type="checkbox" name="" class="invoice" id="invoice1">
                        <label for="invoice1">Invoice</label>
                    </div>
                    <div class="ct-permission">
                        {{{checkPermission permission 'addOrder' 'invoice2' 'Add new order'}}}
                        {{{checkPermission permission 'deleteInvoice' 'invoice2' 'Delete invoice'}}}
                        {{{checkPermission permission 'detailInvoice' 'invoice2' 'detail of invoice'}}}
                        {{{checkPermission permission 'printBill' 'invoice2' 'Print bill'}}}
                    </div>
                </div>
            </div>
            {{/each}}
            {{/if}}
            <button class="submit" type="submit">Update</button>
        </form>
    </div>
</div>
<script>
    validation({
        form:'.form-add',
        rule:[
            validation.isrequire('#name'),
            validation.isrequire('#email'),
            validation.isrequire('#password'),
            validation.checkemail('#email'),
            validation.other('#password',['min',9]),
        ]
    })
</script>