<link rel="stylesheet" href="/css/tourguide.css">
<link rel="stylesheet" href="/css/dashboard.css">
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
<link rel="stylesheet" href="/css/mk_charts.css" />
<div class="background-body">
    <h3 class="title-muc">Dashboard</h3>
    <button onclick="intro()">intro</button>
</div>
<div class="body-ct">
    <div class="statistical">
        <div class="content-st">
            <p class="title">Statistics by year</p>
            <div id="chart"  data-tour="step: 1; title:Statistics by year; content: thong ke tien cac thang trong nam"></div>
        </div>
        <div class="content-st" data-tour="step: 2; title: Statistics; content: so luong order, so luong khach hang va tien today">
            <div class="order-user">
                <div class="statistical1 type-pr">
                    <p class="title-sta">Orders</p>
                    <i class="fas fa-boxes"></i>
                    <p class="result-sta">
                        {{#if count_order}}
                        {{#each count_order}}
                        {{this.count}}
                        {{/each}}
                        {{/if}}
                    </p>
                </div>
                <div class="statistical1 quantity-pr">
                    <p class="title-sta">Users</p>
                    <i class="fas fa-truck-loading"></i>
                    <p class="result-sta">{{count_cs}}</p>
                </div>
            </div>
            <div class="order-user">
                <div class="total-today">
                    <p class="title">today</p>
                    <p class="title" style="color: red;">{{total_today}}$</p>
                </div>
                <div id="chart2"></div>
            </div>
        </div>
    </div>
    <div class="content2">
        <div class="ct" data-tour="step: 3; title: Suppliers; content: top 5 suppliers">
            <p class="title"><span>Supplier</span> <a href="/managerSuppliers">see more</a></p>
            <div class="sp">
                <div class="sp-cu">
                    {{#if suppliers}}
                    {{#each suppliers as |value|}}
                    <div class="supplier">
                        <img src="{{value.img}}" alt="img">
                        <div>
                            <p>{{value.name}}</p>
                            <p>{{value.email}}</p>
                        </div>
                    </div>
                    {{/each}}
                    {{/if}}
                </div>
            </div>
        </div>
        <div class="ct">
            <div class="e-b earn" data-tour="step: 4; title: Earning Goal; content: muc tieu kiem tien">
                <p class="title">Earning Goal</p>
                <div class="Goal">
                    <div class="circle_r">
                        {{#if total_year}}
                        {{#each total_year }}
                        {{{total_year_helper this.total}}}
                        {{/each}}
                        {{/if}}
                        <p class="text-earn">Total Earning:</p>
                        {{#if total_year}}
                        {{#each total_year }}
                        <p class="text-earn1">{{this.total}} $</p>
                        {{/each}}
                        {{/if}}
                    </div>
                    <div class="circle_r">
                        <div class="mkCharts" data-percent="100" data-size="100" data-stroke="2" data-color="#21f360">
                        </div>
                        <p class="text-earn">Earning Goal:</p>
                        <p class="text-earn1">700000 $</p>
                    </div>
                </div>
            </div>
            <div class="e-b bets-pr" style='overflow:hidden' data-tour="step: 5; title: Best selling product; content: top 3 san pham ban chay trong nam">
                <p class="title">Best selling product</p>
                <div class="swiper-container mySwiper">
                    <div class="swiper-wrapper">
                        {{#if productsBest}}
                        {{#each productsBest}}
                        <div class="swiper-slide">
                            <img src="{{this.img}}" alt="img">
                            <div class="infor">
                                <p>{{this.name}}</p>
                                <p>price: {{this.new_price}} $</p>
                                <p>sold quantity: {{this.quantity_sold}}</p>
                            </div>
                        </div>
                        {{/each}}
                        {{/if}}
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
        <div class="ct" data-tour="step: 6; title: Customers; content: top 5 customers">
            <p class="title"><span>Customer</span> <a href="/managerCustomers">see more</a></p>
            <div class="sp-cu">
                {{#if customers}}
                {{#each customers as |value|}}
                <div class="supplier">
                    <i class="fas fa-user"></i>
                    <div>
                        <p>{{value.name}}</p>
                        <p>{{value.numberPhone}}</p>
                    </div>
                </div>
                {{/each}}
                {{/if}}
            </div>
        </div>
    </div>
    <div class="pr_month" data-tour="step: 7; title: Products of the Month; content: top 5 san pham ban chay trong thang">
        <p class="title"><span>Products of the Month</span> <a href="/managerProduct">see more</a></p>
        <div class="top_prs">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Image</th>
                        <th scope="col">Name</th>
                        <th scope="col">Total price</th>
                        <th scope="col">Sold quantity</th>
                    </tr>
                </thead>
                <tbody>
                    {{#if pr_month}}
                        {{#each pr_month}}
                            <tr>
                                <th scope="row">{{this._id}}</th>
                                {{#each this.product as |value|}}
                                    <th scope="row">
                                        <img src="{{value.img}}" alt="img" srcset="">
                                    </th>
                                    <th scope="row">{{value.name}}</th>
                                {{/each}}
                                <td><span style="color: red;">{{this.total}} $</span></td>
                                <td>{{this.quantity}}</td>
                                <td>{{this.product.old_price}}</td>
                            </tr>
                        {{/each}}
                    {{/if}}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="/js/tourguide.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.27.1/apexcharts.min.js"></script>
<script src="/js/mk_charts.js"></script>
<script>
    function intro(){
        var myTour = new Tourguide();
        myTour.start();
    }
</script>
<script>
    var options = {
        series: [{

            data: {{#if total_month }}
                    [{{ total_months total_month }}]
                {{/if}}

        }],
        chart: {
            fontFamily: 'Archivo, sans-serif',
                height: 350,
                    type: 'bar',

                        events: {
                click: function (chart, w, e) {
                    // console.log(chart, w, e)
                }
            }
        },
        colors: ['#525ce5'],
            plotOptions: {
            bar: {
                columnWidth: '45%',
                    distributed: true,
            }
        },
        yaxis: {
            labels: {
                style: {
                    fontSize: '12px',
                        fontWeight: 500,
                },
                show: true,
                    formatter: function (val) {
                        return val + "$";
                    }
            }

        },
        dataLabels: {
            enabled: true,
                formatter: function (val) {
                    return val + "$";
                },
            style: {
                fontSize: '12px',
                    colors: ["#000000"]
            }
        },
        legend: {
            show: false
        },
        xaxis: {
            categories: [
                'January',
                'February',
                'March',
                'April',
                'May',
                'June',
                'July',
                'August',
                'September',
                'October',
                'November',
                'December',
            ],
                labels: {
                style: {
                    fontSize: '12px',
                        fontWeight: 500,
                },
            }
        }

    };

    var chart = new ApexCharts(document.querySelector("#chart"), options);
    chart.render();


    var options = {
        series: [{
            name: 'series1',
            data: [31, 40, 28, 51, 42, 109, 100]
        }],
        colors: ["#525ce5"],
        legend: {
            show: false
        },

        chart: {
            height: 150,
            type: 'area',
        },
        dataLabels: {
            enabled: false
        },
        yaxis: {
            labels: {
                style: {
                    fontSize: '12px',
                    fontWeight: 500,
                },
                show: false,
                formatter: function (val) {
                    return val + "$";
                }
            }

        },
        xaxis: {
            labels: {
                style: {
                    fontSize: '12px',
                    fontWeight: 500,
                },
                show: false,
                formatter: function (val) {
                    return val + "$";
                }
            }

        },
    };

    var chart2 = new ApexCharts(document.querySelector("#chart2"), options);
    chart2.render();
</script>
<script>
    var swiper = new Swiper(".mySwiper", {
        spaceBetween: 30,
        centeredSlides: true,
        autoplay: {
            delay: 3500,
            disableOnInteraction: false,
        },
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
    });
</script>